@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap");

html{
  width: 100vw;
}
body{
  margin: 0;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Familjen Grotesk';
  overflow-x: hidden;
}


:root{
  --black: #2C2C34;
  --grey: #a1a1a1;
  --white: #FFFFFF;
  --green: #C3FF42;
  --blue: #4B40EE;
  --red: #E71D36;

  --fs-1: 2.4rem;
  --fs-2: 1.8rem;
  --fs-3: 1.6rem;
  --fs-4: 1.2rem;
  --fs-5: 1rem;
}
.text-black{color:var(--black);}
.text-blue{color: var(--blue);}
.text-white{color:var(--white);}
.text-grey{color:var(--grey);}

.bg-black{background-color:var(--black);}
.bg-blue{background-color: var(--blue);}
.bg-grey{background-color:var(--grey);}
.bg-white{background-color:var(--white);}
.bg-green{background-color:var(--green);}
.bg-red{background-color:var(--red);}


.fs-1{font-size: var(--fs-1);}
.fs-2{font-size: var(--fs-2);}
.fs-3{font-size: var(--fs-3);}
.fs-4{font-size: var(--fs-4);}
.fs-5{font-size: var(--fs-5);}

.fw-600{font-weight: 600}

.uppercase{text-transform: uppercase;}

.container {
    position: relative;
    margin-inline: auto;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding-bottom: 6em;
    padding: 1em;
    max-width: 80rem;
}

.order{
    margin-block: 0;
    width: 100%;
    padding-block: 0.2em;
    border-radius: 5px;
    text-align: center;
  }

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.flex-vert{
    display: flex;
    flex-direction: column;
}

.gap-2{
    gap: 2em;
}
.gap-1{
    gap: 1em;
}
.gap-0{
    gap:0.5em;
}

.space-between{
    justify-content: space-between;
}

.align-baseline{
    align-items: baseline;
  }
  .align-center{
    align-items: center;
  }
  
  .text-center{
    text-align: center;
  }
  
  .text-left{
    text-align: end;
  }
  
.large-only{
    display: none;
}

.card{
    box-shadow: 5px 10px 8px #d2d2d2;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 2em;
}
.balance{
    max-width: min-content;
}

.small-img{
    width: 20px;
    height: 20px;
    margin: 0;
}
.large-img{
    width: 60px;
    height: 60px;
}
.small-chart{
    width: 6rem;
    height: 4rem;
}

.coin-page-header{
  align-items:center;
  line-height: 1;
}

.coin-page-chart{
  margin-inline: auto;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 40vh;
}



.coin-page{
  max-width: 80rem;
}

.mobile-footer{
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  padding-block: 2em;
  width: 100%;
  justify-content: space-evenly;
}

.ranges {
  margin-inline: auto;
  display: flex;
  gap: 10px;
}
.range-button {
  width: 40px;
  height: 25px;
  background: white;
  border-radius: 5px;
}

.chart-ranges{
  flex-direction: column-reverse;
}



.portfolio-page table{
  width: 25em;
}

.order{
  margin-inline: auto;
  height: 2em;
  width: 75%;
}

.buy-button{
  display: block;
    margin-top: 3em;
    text-align: center;
    border-radius: 5px;
    width: 10em;
    padding: 1em;
    margin-inline:auto;
}


.order-container{
    width: 100%;
    height:100%;
    z-index:3;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    position: fixed;
    top: 0;
    left: 0;
    padding-block: 3em;
  }
  .order-button{
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    border-radius: 5px;
  }
  .order-open{
    transform: translateX(0%);
  }
  .order-closed{
    transform: translateX(300%);
  }
  .count-button{
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
  }

.number-grid{
    /* grid-template-columns: repeat(3,1fr); */
    flex-wrap: wrap;
    gap: 2em;
    padding-inline: 5em;
    justify-content: center;
    margin-block: 3em;
}

.number-grid > button{
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--black);
}

.table{
    align-self:flex-start ;
    text-align: left;
    margin-inline: auto;
}

  .order-popup{
    text-align: center;
    z-index: 10;
    position: absolute;
    display: flex;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15em;
    height: 15em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }
  
  .order-popup-open{
    visibility: visible;
    transform: scale(1);
  }
  
  .order-popup-closed{
    transform: scale(0);
  }
  
  
  
  .icon-container{
    margin-block:0;
    margin-inline: auto;
    width: 3em;
    height: 3em;
    padding: 1em;
    border-radius: 50%;
  }
  
tr{
  height: 4em;
}
th{ 
  width: 0;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.search{
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background-color: var(--black);
  z-index: 5;
  top: 0;
  left: 0;
  align-items: flex-start;
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.search-closed{
  transform: translateX(300%);
}

.search-open{
  transform: translateX(0%);
}

.search-bar{
  width: 400px;
}

.option{
  align-items: center;
}

.star-icon{
  font-size: 1.5rem;
  color: var(--blue);
}

.mobile-only{
  display: none;
}
@media (min-width:45rem) {
 
  .container{
    padding: 3em;
  }

  .table{
    width: 60rem;
  }

  .coin-page{
    padding: 2em 3em;
    width: 50rem;
  }

  .portfolio-page{
    max-width: 80rem;
  }
  
  .portfolio-page table{
      width: 100%;
  }


  .home-grid{
    display: flex;
    flex-direction: row-reverse;
    margin-inline: 4em ;
    justify-content: center;
    gap: 8em;
    align-items: flex-start;
  }
  .large-only{
    display: initial;
  }
  .header{
    width: 100%;
    height: 12vh;
    color: var(--white);
    padding-inline: 2em;
  }
  .nav{
    color: var(--white);
  }
  .nav > a{
    position: relative;
  }
  
  .nav > a::before{
    top: 20px;
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: 2px solid var(--white);
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }
  .nav > a:hover::before{
    border-bottom: 2px solid var(--white);
    transform: scaleX(1);
  }

  .watchlist-card{
    justify-content: space-between;
    width: 25em;
  }
  
  .watchlist-card > *{
    line-height: 0.5em;
  }
  
  .portfolio-card{
    width: 20em;
  }
  .portfolio-card > *{
    line-height: 0.5em;
  }

  .ranges{
    margin-inline: initial;
  }
  
  .chart-ranges{
    flex-direction: column;
  }
  
  .select{
    width: 20rem;
  }

  .fog{
    top: 0;
    left: 0;
    z-index:2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
  }
  
  .fog-open{
    width: 100vw;
    height: 100vh;
  }
  
  .fog-closed{
    width: 0vw;
    height: 0vh;
  }
}