@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap");
body{
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Familjen Grotesk';
}

:root{
  --black: #2C2C34;
  --grey: #494850;
  --white: #FFFFFF;
  --green: #C3FF42;
  --blue: #4B40EE;
  --red: #E71D36;

  --fs-1: 2.4rem;
  --fs-2: 1.8rem;
  --fs-3: 1.6rem;
  --fs-4: 1.2rem;
  --fs-5: 1rem;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  background-color: var(--grey);
  border: 1px solid var(--grey);
}

.text-black{color:var(--black);}
.text-blue{color: var(--blue);}
.text-white{color:var(--white);}

.bg-black{background-color:var(--black);}
.bg-blue{background-color: var(--blue);}
.bg-grey{background-color:var(--grey);}
.bg-white{background-color:var(--white);}
.bg-green{background-color:var(--green);}
.bg-red{background-color:var(--red);}


.fs-1{font-size: var(--fs-1);}
.fs-2{font-size: var(--fs-2);}
.fs-3{font-size: var(--fs-3);}
.fs-4{font-size: var(--fs-4);}
.fs-5{font-size: var(--fs-5);}


.uppercase{text-transform: uppercase;}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.flex-vert{
  display: flex;
  flex-direction: column;
}

.flow > *:where(:not(:first-child)){
  border-bottom: solid 1px var(--grey);
}

.gap-2{
  gap: 2em;
}
.gap-1{
  gap: 1em;
}
.gap-0{
  gap:0.5em;
}

.align-baseline{
  align-items: baseline;
}
.align-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.pointer{ cursor: pointer}


.container {
  padding: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.card{
  background-color: var(--white);
  box-shadow: 5px 10px 8px #d2d2d2;
  border-radius: 8px;
  padding: 1em;
  justify-content: space-between;
  width: 20em;
}

.option{
  align-items: center;
  color: var(--grey);
}

.small-img{
  width: 30px;
  height: 30px;
}
.large-img{
  width: 100px;
  height: 100px;
}

.home-grid{
  margin-inline: 4em ;
  justify-content: space-between;
  align-items: flex-start;
}

.watchlist-card{
  justify-content: space-between;
  width: 15em;
}

.watchlist-card > *{
  line-height: 0.5em;
}

.portfolio-card{
  width: 20em;
}
.portfolio-card > *{
  line-height: 0.5em;
}

.header{
  height: 12vh;
  color: var(--white);
  padding-inline: 2em;
}
.nav{
  color: var(--white);
}

.select{
  width: 20rem;
}

.space-between{
  justify-content: space-between;
}

.coin-page{
  padding: 3em;
  max-width: 60rem;
  margin-inline: auto;
}

.name{
  margin: 0;
}

.count-button{
  border-radius: 5px;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.buy{
  margin-block: 0;
  width: 100%;
  padding-block: 0.2em;
  border-radius: 5px;
  text-align: center;
}
.count-input{
  border: solid 3px var(--blue);
  border-radius: 5px;
}



.price{
  align-items: baseline;
}


.tabs { 
  display: flex;
  gap: 12px;
}

.tab {
  height: 30px;
}

.range-button:hover{
  background: #9ea1ff;
  color: white;
}

.change {
  font-weight: lighter;
  margin: 0;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
.currency {
  color: #bdbebf;
  font-weight: 100;
}
.ranges {
  display: flex;
  gap: 10px;
}
.range-button {
  width: 40px;
  height: 25px;
  background: white;
  border-radius: 5px;
}
.chart-container {
  position: relative;
  width: 40vw;
  height: 40vh;
}

.currencies-table{
  text-align: left;
  width: 60rem;
}


tr{
  height: 4em;
}




